<script setup lang="ts">
import creditVue from '@/components/credit.vue';
import userInput from '@/components/user-input.vue'
import CalButton from '@/components/cal-button.vue'
import Tables from '@/components/tables.vue';
</script>

<template>
  <header>
    <h1>BMI Calculator App</h1>
  </header>
  <main>
    <userInput />
    <CalButton />
  </main>
  <hr>
  <Tables />
  <hr>
  <footer>
    <creditVue />
  </footer>
</template>

<style scoped>
header {
  display: flex;
  justify-content: center;
  color: aquamarine;
}

hr {
  margin: 2em 0 1em 0;
  border-radius: 10px;
}
</style>
