<template>
    <div>
        <button type="button" @click="calculateOrCopy">
            {{ store.bmiResult === 0 ? 'Calculate' : 'BMI: ' + store.bmiResult }}
        </button>
        <button id="resetBtn" v-if="store.bmiResult !== 0" @click="store.$reset">Reset</button>
    </div>
    <div v-if="showCopyNotification" class="modal">
        <p>Copied to clipboard!</p>
    </div>
</template>

<script setup lang="ts">
import { useBmiStore } from '@/stores/bmi-calculate';
import { ref } from 'vue';

const store = useBmiStore()
const showCopyNotification = ref(false);

const calculateOrCopy = () => {
    if (store.bmiResult === 0) {
        store.calculateBmi();
    } else {
        store.copyToClipboard();
        showCopyNotification.value = true;
        setTimeout(() => {
            showCopyNotification.value = false;
        }, 2000);
    }
};

</script>

<style scoped>
div {
    display: flex;
    justify-content: space-evenly;
}

.modal {
    display: flex;
    position: absolute;
}

#resetBtn {
    background: rgb(255, 0, 0, 0.7);
}

#resetBtn:hover {
    border: rgb(255, 0, 0, 1) solid 5px;
}

button {
    display: flex;
    margin: 0 auto;
    border-radius: 10px;
    padding: 1em;
    font-size: 16px;
    font-weight: bold;
    border: transparent inset 5px;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    transition: border ease 0.2s;
}

button:hover {
    border: #09872b solid 5px;
    cursor: pointer;
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;

}
</style>