<template>
    <div>
        <h3>Created by <br> <a href="https://gitlab.com/65160312" target="_blank">Aphidech Mahakoat</a></h3>
    </div>
</template>

<style scoped>
div {
    text-align: center;
    display: block;
    margin: 2em;
}
</style>