<template>
    <div>
        <h2>BMI Classification</h2>
        <table>
            <thead>
                <tr>
                    <th>Classification</th>
                    <th>BMI Range (kg/m<sup>2</sup>)</th>
                </tr>
            </thead>
            <tbody>
                <template v-for="classification in classifications" :key="classification.label">
                    <tr :class="getBmiClass(classification)">
                        <td>{{ classification.label }}</td>
                        <td class="range">{{ classification.range }}</td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
</template>

<script setup lang="ts">
import { useBmiStore } from '@/stores/bmi-calculate';

const store = useBmiStore();

const classifications = [
    { label: 'Severe Thinness', range: '< 16' },
    { label: 'Moderate Thinness', range: '16 - 17' },
    { label: 'Mild Thinness', range: '17 - 18.5' },
    { label: 'Normal', range: '18.5 - 25' },
    { label: 'Overweight', range: '25 - 30' },
    { label: 'Obese Class I', range: '30 - 35' },
    { label: 'Obese Class II', range: '35 - 40' },
    { label: 'Obese Class III', range: '> 40' },
];

const getBmiClass = (classification: any) => {
    const minRange = getMinRange(classification.label);
    const maxRange = getMaxRange(classification.label);
    if (store.bmiResult !== 0) {
        return {
            'highlighted-row': store.bmiResult >= minRange && store.bmiResult < maxRange
        }
    }
};

const getMinRange = (label: string) => {
    switch (label) {
        case 'Severe Thinness':
            return 0;
        case 'Moderate Thinness':
            return 16;
        case 'Mild Thinness':
            return 17;
        case 'Normal':
            return 18.5;
        case 'Overweight':
            return 25;
        case 'Obese Class I':
            return 30;
        case 'Obese Class II':
            return 35;
        case 'Obese Class III':
            return 40;
        default:
            return 0;
    }
};

const getMaxRange = (label: string) => {
    switch (label) {
        case 'Severe Thinness':
            return 16;
        case 'Moderate Thinness':
            return 17;
        case 'Mild Thinness':
            return 18.5;
        case 'Normal':
            return 25;
        case 'Overweight':
            return 30;
        case 'Obese Class I':
            return 35;
        case 'Obese Class II':
            return 40;
        case 'Obese Class III':
            return Infinity;
        default:
            return 0;
    }
};
</script>

<style scoped>
table {
    margin-top: 1em;
    border-collapse: collapse;

    width: 100%;
}


h2 {
    color: cadetblue;
    text-align: center;
    font-weight: 500;
}

th,
td {
    padding: 0.4rem;
    background: rgba(0, 0, 0, 0.2);
    border: cadetblue solid 2px;
}

.highlighted-row {
    background-color: rgba(255, 255, 5, 0.4);
}

.range {
    text-align: center;
}
</style>