<template>
    <div class="main">
        <div class="content">
            <label for="height">Height (Cm)</label>
            <input type="number" v-model="store.height" placeholder="180">
        </div>
        <div class="content">
            <label for="weight">Weight (Kg)</label>
            <input type="number" v-model="store.weight" placeholder="70">
        </div>
    </div>
</template>

<script setup lang="ts">
import { useBmiStore } from '@/stores/bmi-calculate';

const store = useBmiStore();

</script>

<style scoped>
.main {
    display: grid;
    gap: 1em;
    grid-template-columns: min-content;
    padding: 1em;
    font-size: 20px;
    margin: 0 auto;
    justify-content: center;
}

.content {
    display: block;
}

input,
label {
    font-weight: 500;
    padding: 0.5rem;
    border-radius: 5px;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}
</style>